<div class="bg-body p-2" xmlns="http://www.w3.org/1999/html">
  <label class="form-check-label d-block">
    <input class="form-check-input" type="radio" name="url" value="http://localhost:9031/snomed" (change)="changed($event.currentTarget.value)"> http://localhost:9031/snomed
  </label>
  <label class="form-check-label d-block">
    <input class="form-check-input" type="radio" name="url" value="https://localhost:9030/snomed" (change)="changed($event.currentTarget.value)"> https://localhost:9030/snomed
  </label>
  <label class="form-label mt-2">Enter URL to invoke in window: </label><input class="form-control" [(ngModel)]="url">
  <button class="btn btn-primary m-2" (click)="invokeFormBuilder($event)">Invoke</button>
  <button class="btn btn-primary m-2" (click)="invokeCallback($event)">Callback</button>
  <p class="m-1">You selected: {{ url }}</p>
  <pre class="m-1">Message from opened window: {{ this.messageFromOpenedWindow }}</pre>
</div>
