<div id="header">
  <a href="http://lhncbc.nlm.nih.gov" title="Home" rel="home" id="logo">
    <md-icon id="logoImg" md-svg-src="/assets/images/lhncbc.svg" alt="Home"></md-icon>
  </a>
  <div id="siteNameBox" layout="row" layout-align="space-between">
    <a href="/"><span id="siteName">Form Builder for LHC-Forms/FHIR Questionnaire</span></a>
    <div ng-if="isFirebaseEnabled()">
      <div ng-if="!isUserSignedIn">
        <md-button class="md-primary" ng-click="showSignInDialog()">
          Sign in
          <md-tooltip>Login with OAuth authenticators</md-tooltip>
        </md-button>
      </div>
      <div ng-if="isUserSignedIn">
        <span>{{userProfile.displayName}}</span>
        <md-button class="md-primary" ng-click="signOut()">sign out
          <md-tooltip>{{userProfile.displayName}}<span ng-show="userProfile.email"> : {{userProfile.email}}</span></md-tooltip>
        </md-button>
      </div>
      <div ng-show="loginError">{{loginError.message}}</div>
    </div>
  </div>
</div>

