<mat-sidenav-container>
        <mat-sidenav #drawer mode="side" opened class="p-1 bg-light" disableClose>
          <div class="sidenav-header p-1">Questions Tree&nbsp;<button class="btn border-0 p-0 b-0" [matTooltip]="treeHelpMessage"
                                                                      [attr.aria-label]="'Tooltip for tree: '+treeHelpMessage" aria-hidden="true"
          ><fa-icon [icon]="helpIcon" class="text-white"></fa-icon></button
          ></div>
          <tree-root
            #tree
            [nodes]="itemList"
            [options]="treeOptions"
            (event)="onTreeEvent($event)"
            [focused]="true"
          >
            <ng-template #treeNodeWrapperTemplate let-node let-index="index">
              <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                <tree-node-expander [node]="node"></tree-node-expander>
                <div class="node-content-wrapper"
                     [class.node-content-wrapper-active]="node.isActive"
                     [class.node-content-wrapper-focused]="node.isFocused"
                     (click)="node.mouseAction('click', $event)"
                     (dblclick)="node.mouseAction('dblClick', $event)"
                     (contextmenu)="node.mouseAction('contextMenu', $event)"
                     (treeDrop)="node.onDrop($event)"
                     [treeAllowDrop]="node.allowDrop"
                     [treeDrag]="node"
                     [treeDragEnabled]="node.allowDrag()"
                     [attr.tabindex]="node.isActive ? '0' : null"
                     role="treeitem"
                >
                  <tree-node-content [node]="node" [index]="index" [template]="treeNodeTemplate"></tree-node-content>
                </div>
              </div>
            </ng-template>
            <ng-template #treeNodeTemplate let-node let-index="index">
              <div [ngClass]="node.nodeClass" #tooltip="matTooltip" [matTooltip]="node.displayField">
                <span class="node-display-prefix">{{getIndexPath(node).join('.')}}</span><span [ngClass]="node.nodeClass">{{truncate(node.displayField)}}</span>
                <span class="float-right"><ng-container *ngTemplateOutlet="nodeMenu; context: {node: node, tooltip: tooltip}"></ng-container></span>
              </div>
            </ng-template>
            <ng-template #loadingTemplate><span></span></ng-template>
          </tree-root>
        </mat-sidenav>
        <mat-sidenav-content>
          <div class="sidenav-header p-1" aria-live="polite" aria-atomic="true" id="itemContent">Current Item <span *ngIf="focusNode?.data?.text">({{focusNode.data.text}})</span></div>
          <div class="mt-1">
            <div>
              <span>Edit item (question or header)</span>
              <small *ngIf="devMode" class="float-right font-italic">{{loadingTime}} seconds</small>
              <!--
              <button type="button" class="btn btn-sm btn-outline-primary float-right" (click)="toggleEditType($event)">{{ editType === 'ui' ? "View/Edit item's JSON" : "Edit item in GUI" }}</button>
              -->
            </div>
            <ul>
              <li>
                The questions are organized in hierarchical tree on the left side. Select the desired item to edit their properties here.
              </li>
              <li *ngIf="errors$ | async" class="text-danger list-group-item-warning"
                  role="region" aria-live="assertive">{{errorMessage}}</li>
            </ul>
          </div>
          <hr/>
          <ng-container *ngIf="editType === 'ui'">
            <lfb-spinner [show]="spinner$ | async"></lfb-spinner>
            <lfb-ngx-schema-form #uiEditor [model]="itemData" (valueChange)="itemChanged($event)"
                                 (errorsChanged)="onErrorsChanged($event)"></lfb-ngx-schema-form>
          </ng-container>
          <ng-container *ngIf="editType === 'json'">
            <lfb-item-json-editor #jsonEditor></lfb-item-json-editor>
          </ng-container>
          <ul>
            <li *ngIf="errors$ | async" class="text-danger list-group-item-warning"
                aria-hidden="true">{{errorMessage}}</li>
          </ul>
          <hr/>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with item action buttons">
            <div class="btn-group-sm" role="group" aria-label="Last group">
              <button type="button" class="btn btn-primary"
                      [disabled]="!(focusNode && focusNode.parent)"
                      aria-label="Delete this item"
                      (click)="confirmItemDelete()">Delete this item</button>
            </div>
            <div class="btn-group-sm ml-2 ml-auto" role="group" aria-label="Last group">
              <button type="button" class="btn btn-primary"
                      (click)="addItem($event)"
                      aria-label="Add new item"
                      aria-controls="itemContent"
              >Add new item</button>
            </div>
            <div class="btn-group-sm ml-2" role="group" aria-label="Last group">
              <button type="button" class="btn btn-primary"
                      (click)="addLoincItem(addItemDlg)"
                      aria-label="Add new item from LOINC"
                      aria-controls="itemContent"
              >Add new item from LOINC</button>
            </div>
          </div>
        </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #addItemDlg let-modal>
  <div class="modal-header btn-primary">
    <h4 class="modal-title" id="modal-basic-title">Add LOINC item</h4>
    <button type="button" class="close btn-primary" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="loincTypeSelect1" class="align-middle">Select LOINC item type:</label>
        <div class="btn-group" id="loincTypeSelect1" name="radioBasic"
             [(ngModel)]="loincType" [ngModelOptions]="{standalone: true}" ngbRadioGroup>
          <label *ngFor="let opt of loincTypeOpts" ngbButtonLabel>
            <input ngbButton type="radio" name="radio" [value]="opt.value"/> {{ opt.display }}
          </label>
        </div>
        <label class="" for="acSearchBoxId">Search for a LOINC item:</label>
        <input id="acSearchBoxId"  type="text" class="form-control"
               [(ngModel)]="loincItem"
               [ngModelOptions]="{standalone: true}"
               [ngbTypeahead]="acSearch"
               [resultFormatter]="formatter"
               [inputFormatter]="formatter"
               [editable]='false' />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.dismiss(false)">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modal.close(loincItem)">Add</button>
  </div>
</ng-template>


<ng-template #nodeMenu let-node="node" let-parentTooltip="tooltip">
  <div class="btn-group-sm" ngbDropdown container="body" role="group" aria-label="More options" (mouseenter)="parentTooltip.hide()" (mouseleave)="parentTooltip.show()">
    <button ngbDropdownToggle
            class="btn btn-sm p-0 border"
            matTooltip="More options"
            aria-label="More options"
    ><fa-icon [icon]="nodeMenuIcon"></fa-icon></button
    ><div class="dropdown-menu" ngbDropdownMenu>
      <button ngbDropdownItem
              (keyup.enter)="onInsertItem(node, 'BEFORE')"
              (click)="onInsertItem(node, 'BEFORE')"
      >Insert a new item <b>before</b> this</button>
      <button ngbDropdownItem
              (keyup.enter)="onInsertItem(node, 'AFTER')"
              (click)="onInsertItem(node, 'AFTER')"
      >Insert a new item <b>after</b> this</button>
      <button ngbDropdownItem
              (keyup.enter)="onInsertItem(node, 'CHILD')"
              (click)="onInsertItem(node, 'CHILD')"
      >Insert a new <b>child</b> item</button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem
              (keyup.enter)="onMoveDlg(node)"
              (click)="onMoveDlg(node)"
      >Move this item ...</button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem
              (keyup.enter)="confirmItemDelete()"
              (click)="confirmItemDelete()"
      >Remove this item</button>
    </div>
  </div>
</ng-template>
