
.node-content-wrapper {
  width: 100%;
  background-color: whitesmoke;
  padding: 0;
  margin-left: 4px;
}

/*
  For some reason, display truncation pushes the width beyond its borders.
  Providing some random fixed width somehow fixes the problem.
 */
.node-display-field {
  width: 0;
}

.node-content-wrapper-active {
  background-color: lightgrey;
}

.node-content-wrapper-focused,
.node-content-wrapper:hover {
  background-color: lightgoldenrodyellow;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 40%;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.sidenav-header {
  background-color: grey;
  color: white;
}
.node-display-prefix {
  font-weight: bold;
  margin-right: 1ch;
}
.mat-sidenav {
  width: 25%;
  padding: 10px;
}

:host ::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-sidenav-content {
  padding: 5px;
}

.mat-tab-body {
  background-color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.json-radio-group {
  display: flex;
  margin: 5px 0;
}

.json-radio-button {
  margin: 5px;
}

.search-box {
  font-size: small;
  width: 100%;
  align-items: end;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:hover {
  background-color: white;
}

.not-allowed-tooltip {
  position: absolute;
  padding: 5px 10px;
  background-color: rgb(121, 114, 114);
  color: white;
  font-size: 12px;
  border-radius: 3px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1500 !important;
}
