/* hide the tree-node-drop-slot if the item is at level 1, contains children, and not the last item */
:host ::ng-deep .tree-node-level-1:not(.tree-node-leaf) > tree-node-drop-slot:last-of-type {
  display: none !important;
}

/* hide the tree-node-drop-slot if the item is not at level 1, not a tree node leaf, and not the last item */
:host ::ng-deep [class*="tree-node-level-"]:not(.tree-node-level-1):not(.tree-node-leaf) > tree-node-drop-slot:last-of-type {
  height: 0 !important;
  display: none !important;
}

/* Style the internal drop slot for correct drag-over effect */
:host ::ng-deep .node-drop-slot {
  height: 4px !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 4px;
  position: relative;
}

:host ::ng-deep .node-drop-slot.is-dragging-over {
  height: 30px !important;
  background: #ddffee;
  border: 2px dotted #888;
}

:host ::ng-deep .node-drop-slot.is-dragging-over::after {
  content: "Drop here";
}

/* Hide the 'Drop here' label for a minimal look */
:host ::ng-deep tree-node-drop-slot::before {
  display: none !important;
}

.node-content-wrapper {
  width: 100%;
  background-color: whitesmoke;
  padding: 0;
  margin-left: 4px;
}

/*
  For some reason, display truncation pushes the width beyond its borders.
  Providing some random fixed width somehow fixes the problem.
 */
.node-display-field {
  width: 0;
}

.node-content-wrapper-active {
  background-color: lightgrey;
}

.node-content-wrapper-focused,
.node-content-wrapper:hover {
  background-color: lightgoldenrodyellow;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 40%;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.sidenav-header {
  background-color: grey;
  color: white;
}
.node-display-prefix {
  font-weight: bold;
  margin-right: 1ch;
}
.mat-sidenav {
  width: 25%;
  padding: 10px;
}

:host ::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-sidenav-content {
  padding: 5px;
}

.mat-tab-body {
  background-color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.json-radio-group {
  display: flex;
  margin: 5px 0;
}

.json-radio-button {
  margin: 5px;
}

.search-box {
  font-size: small;
  width: 100%;
  align-items: end;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:hover {
  background-color: white;
}

.not-allowed-tooltip {
  position: absolute;
  padding: 5px 10px;
  background-color: rgb(121, 114, 114);
  color: white;
  font-size: 12px;
  border-radius: 3px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1500 !important;
}

.drop-target {
  background-color: #d4f8e8;
  border: 1px dashed #111111;
}