<md-dialog aria-labelledby="addItemTitleId">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 id="addItemTitleId">Add new or import from LOINC</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-radio-group ng-model="addOrImport.mode" layout class="md-primary">
          <md-radio-button value="add">New item</md-radio-button>
          <md-radio-button value="import">Import from LOINC</md-radio-button>
        </md-radio-group>
        <fieldset layout-padding class="md-whiteframe-z1">
          <legend><span>Select type</span></legend>
          <div data-empty-placeholder-enabled="false">
            <md-radio-group ng-model="importLoincItem.mode" ng-change="changeAutoCompUrl()">
              <md-radio-button value="panel">Panel</md-radio-button>
              <md-radio-button value="question">Question</md-radio-button>
            </md-radio-group>
          </div>
        </fieldset>
      </div>
      <md-dialog-actions layout="row">

        <input placeholder="Enter name" ng-show="addOrImport.mode === 'add'" ng-model="name">
        <input placeholder="Search"  ng-show="addOrImport.mode === 'import'"
               type="text"
               id="searchQuestionId"
               ng-required="false"
               ng-model="autocompSearch.model"
               autocomplete-lhc="autocompSearch.opts">
        <button id="addButton" ng-show="addOrImport.mode === 'add'" class="btn btn-sm" aria-label="Add an item" ng-click="addNewFromDialog(this)">Add</button>
        <button id="importButton" ng-show="addOrImport.mode === 'import'"
                aria-label="Import an item"
                ng-class="{btn: true, 'btn-sm': true}"
                ng-click="importFromDialog(this)">Import</button>
        <md-button aria-label="Close dialog" ng-click="cancelDialog(this)" class="md-primary">
          Cancel
        </md-button>
      </md-dialog-actions>
    </md-dialog-content>
  </form>
</md-dialog>
