<md-dialog aria-labelledby="titleId" style="width: 60%">
  <form ng-cloak name="selectFhirServer">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 id="titleId">Choose a FHIR server</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="fhirCtrl.closeDlg(false)">
          <md-icon md-svg-src="/assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-radio-group ng-model="fhirCtrl.fhirServer" ng-model-options="{trackBy: '$value.id'}">
          <table class="formbuilder-table">
            <tr flex class="md-primary">
              <th></th>
              <th>Base URL</th>
              <th>FHIR Version</th>
              <th>Description</th>
            </tr>
            <tr ng-repeat='server in fhirCtrl.fhirServerList' flex class="md-primary">
              <td><md-radio-button ng-value="server" aria-label="{{server.displayName || server.endpoint}}"></md-radio-button></td>
              <td>{{server.endpoint}}</td>
              <td>{{server.version}}</td>
              <td>{{server.desc}}</td>
            </tr>
          </table>
        </md-radio-group>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button aria-label="Add your FHIR server to the list" class="md-raised md-primary" ng-click="fhirCtrl.addFhirServer($event);">Add your FHIR server...</md-button>
      <md-button aria-label="Continue" class="md-raised md-primary" ng-disabled="!fhirCtrl.fhirServer.endpoint" ng-click="fhirCtrl.closeDlg(true); fhirCtrl.setFhirServer(fhirCtrl.fhirServer);">Continue</md-button>
      <md-button aria-label="Cancel" class="md-raised md-primary" ng-click="fhirCtrl.closeDlg(false)">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
