<div>
  <md-input-container>
    <label>Search FHIR server</label>
    <input name="searchStr" ng-model="fhirCtrl.searchStr">
  </md-input-container>
  <!--
  <md-button class="md-icon-button md-primary" aria-label="Search">
    <md-icon md-svg-icon="img/icons/search.svg"></md-icon>
  </md-button>
  -->
  <md-button ng-click="fhirCtrl.search()" class="md-raised md-primary" aria-label="Search">Search</md-button>

  <md-input-container>
    <md-checkbox name="onlyUserResources" ng-model="fhirCtrl.onlyUserResources">
      Restrict to my own resources.
    </md-checkbox>
  </md-input-container>
</div>