  <md-menu md-offset="-15 0" style="display: inline">
    <a class="pull-right no-flicker" data-nodrag
       ng-click="$mdMenu.open($event)">
    </a>
    <md-menu-content class="no-flicker nodeMenuContent" width="4" ng-mouseleave="$mdMenu.close()">
      <md-menu-item>
        <md-button md-menu-align-target="" ng-click="showAddItemDialog(this, $event, dataConstants.INSERT_BEFORE)">
          Insert an item <b>before</b>...
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button md-menu-align-target="" ng-click="showAddItemDialog(this, $event, dataConstants.INSERT_AFTER)">
          Insert an item <b>after</b>...
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button md-menu-align-target="" ng-click="showAddItemDialog(this, $event, dataConstants.INSERT_AS_CHILD)">
          Insert a <b>child</b> item...
        </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button ng-click="menuCtrl.showMoveDialog(this, $event, dataConstants.INSERT_BEFORE)">Move this <b>before</b>...</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="menuCtrl.showMoveDialog(this, $event, dataConstants.INSERT_AFTER)">Move this item <b>after</b>...</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="menuCtrl.showMoveDialog(this, $event, dataConstants.INSERT_AS_CHILD)">Make this a <b>child</b> of...</md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button ng-click="removeBranch(this)">
          Remove this item
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
