<md-dialog aria-labelledby="titleId">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 id="titleId">{{fhirCtrl.dialogTitle}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="fhirCtrl.closeDlg()">
                    <md-icon md-svg-src="/assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
              <p ng-show="fhirCtrl.message">{{fhirCtrl.message}}</p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button aria-label="Continue" class="md-raised md-primary" ng-click="fhirCtrl.closeDlg(true)">Continue</md-button>
            <md-button aria-label="Cancel" class="md-raised md-primary" ng-click="fhirCtrl.closeDlg(false)">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
