@import '~angular-tree-component/dist/angular-tree-component.css';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  padding: 10px;
}

.sidenav-content {
  padding: 10px;
}

.mat-tab-body {
  background-color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.json-radio-group {
  display: flex;
  margin: 5px 0;
}

.json-radio-button {
  margin: 5px;
}

.search-box {
  font-size: small;
  width: 100%;
  align-items: end;
}
