@import '~angular-tree-component/dist/angular-tree-component.css';

#fixedTop {
  position:absolute;
  top:0;
  left:0;
  height:84px;
  right:0;
  overflow:hidden;
}

#fixedBottom {
  position:absolute;
  bottom:0;
  height:65px;
  left:0;
  right:0;
  overflow:hidden;
}

#resizableMiddle {
  position:absolute;
  top:84px;
  bottom:65px;
  left:0;
  right:0;
  overflow:auto;
}

.mat-sidenav {
  width: 25%;
  padding: 10px;
}

.mat-sidenav-content {
  padding: 10px;
}

.mat-tab-body {
  background-color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.json-radio-group {
  display: flex;
  margin: 5px 0;
}

.json-radio-button {
  margin: 5px;
}

.search-box {
  font-size: small;
  width: 100%;
  align-items: end;
}
