/* You can add global styles to this file, and also import other style files */

@import '~@bugsplat/angular-tree-component/css/angular-tree-component.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~autocomplete-lhc/source/auto_completion.css';

.form-control > p {
  display:none !important;
}
.add-scrolling {
  max-height: 200px;
  max-width: 240%;
  overflow: auto;
}

.lfb-spinner .modal-content {
  background: transparent;
  border: none;
}

.lfb-spinner.modal-dialog {
  transform: unset !important;
}

.lfb-mat-tooltip {
  font-size: 12px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
