/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~autocomplete-lhc/source/auto_completion.css';

.form-control > p {
  display:none !important;
}

.form-control {
  height: calc(1.0em + .75rem + 2px);
  padding: 0 3px 0 3px;
}

.add-scrolling {
  max-height: 200px;
  max-width: 240%;
  overflow: auto;
}

.lfb-spinner .modal-content {
  background: transparent;
  border: none;
}

.lfb-spinner.modal-dialog {
  transform: unset !important;
}

.lfb-mat-tooltip {
  font-size: 12px;
}

.lfb-ngb-tooltip-link {
  color: whitesmoke;
}

.lfb-ngb-tooltip-link:hover {
  color: lightblue;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
