/* You can add global styles to this file, and also import other style files */

@import '~@circlon/angular-tree-component/css/angular-tree-component.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

.node-content-wrapper {
  width: 100%;
  background-color: whitesmoke;
}

.node-content-wrapper.node-content-wrapper-focused {
  /* background-color: #b3d4fc; */
  background-color: lightgrey;
}
.node-content-wrapper:hover {
  /* background-color: #d3e4fc; */
  background-color: lightgoldenrodyellow;
}
.form-control > p {
  display:none !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
