
pre{
  padding: 02em;
  border: solid 1px black;
  background: #eee;
}
 /* label */
:host /deep/ .formHelp {
  display: block;
  font-size: 0.7em;
}

:host /deep/ sf-form-element>div {
  margin-top: 1em;
  margin-bottom: 1em;
}

:host ::ng-deep .form-control {
  height: calc(1.0em + .75rem + 2px);
  padding: 0 3px 0 3px;
}
:host /deep/ fieldset {
  border:0;
}

.title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
