<md-dialog>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Sign In</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div style="padding-left: 2em; padding-right: 2em">
        <div>
          <md-button aria-label="Sign in with Google" ng-click="signInWithGoogle()" class="md-primary">
            <md-icon class="lf-social-icon" md-svg-src="/assets/images/new-google-favicon.svg" aria-label="google"></md-icon>
            Sign In with Google
          </md-button>
        </div>
        <div>
          <md-button aria-label="Sign in with Facebook" ng-click="signInWithFacebook()" class="md-primary">
            <md-icon class="lf-social-icon" md-svg-src="/assets/images/facebook.svg" aria-label="google"></md-icon>
            Sign In with Facebook
          </md-button>
        </div>
        <div>
          <md-button aria-label="Sign in with Twitter" ng-click="signInWithTwitter()" class="md-primary">
            <md-icon class="lf-social-icon" md-svg-src="/assets/images/twitter.svg" aria-label="google"></md-icon>
            Sign In with Twitter
          </md-button>
        </div>
        <div>
          <md-button aria-label="Sign in anonymously" ng-click="signInAnonymously()" class="md-primary">
            <md-icon class="lf-social-icon" md-svg-src="/assets/images/anonymous.svg" aria-label="google"></md-icon>
            Sign In Anonymously
          </md-button>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button aria-label="Cancel" ng-click="closeDialog()" class="md-primary">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
